In [5]:
import pandas as pd 
import numpy as np

In [2]:
#Create a dictionary with keys 0 -36 and values - numbers which came after it. the list is started in ascending order

In [55]:
list_A = [25,8,34,28,26,31,32,19,6,28,1,3,29,24,15,19,36,25,14,12,29,24,35,17,13,27,25,36,19,22,22,29,12,17,0,2,2,35,5,1,28,21,6,5,28,31,16,19,19,
        7,10,35,7,35,23,15,22,13,26,12,32,12,28,26,24,5,25,3,19,7,35,30,28,28,6,31,24,22,11,2,23,21,3,17,29,20,36,21,10,6,12,16,28,18,15,25,23,
        18,19,7,27,16,18,22,26,35,8,6,7,15,11,5,0,11,27,20,29,1,22,0,5,24,31,8,19,7,21,27,8,34,33,25,21,36,13,29,13,21,11,20,17,5,25,13,23,19,15,
        5,33,35,0,2,6,7,27,9,19,18,0,21,17,32,14,24,36,31,23,36,33,3,2,17,6,36,24,11,11,31,15,7,22,0,32,15,18,19,12,14,15,23,26,20,6,8,31,34,14,34,
        27,17,3,35,9,34,6,10,19,0,25,13,24,21,21,5,30,11,4,19,2,4,3,36,15,28,30,21,13,3,11,23,13,34,34,29,16,7,24,16,15,10,15,15,3,16,28,27,17,6,3,
        26,2,15,28,29,32,23,22,14,9,35,8,20,20,22,19,7,2,6,5,13,20,14,10,1,16,6,14,14,1,22,3,9,13,29,13,13,14,5,0,12,21,33,20,13,20,10,34,16,10,29,
        34,5,23,11,11,8,2,10,14,24,27,31,4,29,28,18,7,23,14,36,33,10,36,22,36,32,10,35,5,18,19,17,33,15,31,0,14,9,34,33,18,34,35,34,22,15,2,33,16,2,
        10,22,24,16,10,29,9,5,19,16,30,20,34,18,27,3,5,12,2,18,27,5,32,23,22,7,36,5,3,34,0,11,35,29,3,30,24,4,11,6,19,20,5,11,31,2,15,23,16,28,7,17,
        7,13,20,16,25,21,28,26,26,4,4,17,22,17,26,5,9,27,13,30,23,19,16,26,30,13,5,20,4,5,3,32,36,25,8,7,23,20,5,15,27,35,14,17,27,27,11,9,12,1,7,26,
        28,15,30,7,20,0,17,28,34,6,12,25,34,12,4,10,19,33,34,11,22,36,7,3,4,10,20,4,35,3,23,6,26,24,23,11,21,5,10,21,2,29,27,17]

In [4]:
len(list_A)

498

In [6]:
df = pd.Series(list_A)

In [7]:
df

0      25
1       8
2      34
3      28
4      26
       ..
493    21
494     2
495    29
496    27
497    17
Length: 498, dtype: int64

In [8]:
df.describe()

count    498.000000
mean      17.849398
std       10.368823
min        0.000000
25%        9.000000
50%       18.000000
75%       26.750000
max       36.000000
dtype: float64

In [13]:
record = { key:None for key in range(0,37)}

In [15]:
# we will add values for the keys such that values will be the subsequent numbers

In [95]:
from collections import defaultdict

def record_following_numbers(history):
    # Dictionary to store the frequency of numbers following each number
    following_numbers = defaultdict(lambda: defaultdict(int))
    
    # Iterate through the history to populate the following_numbers dictionary
    for i in range(len(history) - 1):
        current_number = history[i]
        next_number = history[i + 1]
        following_numbers[current_number][next_number] += 1
    
    return following_numbers

def print_following_numbers(following_numbers):
    for current_number, next_numbers in following_numbers.items():
        print(f"Number {current_number} is followed by:")
        for next_number, count in next_numbers.items():
            print(f"  Number {next_number}: {count} times")
        print()

In [123]:
def query_following_numbers(following_numbers, number):
    if number in following_numbers:
        next_numbers = following_numbers[number]
        total_followed = len(next_numbers)
        max_followed_number = max(next_numbers, key=next_numbers.get)
        max_followed_count = next_numbers[max_followed_number]
        
        sorted_next_numbers = sorted(next_numbers.items())
        
        print(f"Number {number} is followed by (sorted by frequency):")
        for next_number, count in sorted_next_numbers:
            print(f"  Number {next_number}: {count} times")
        
        print(f"\nTotal different numbers that followed {number}: {total_followed}")
        print(f"Number that followed {number} the most: {max_followed_number} ({max_followed_count} times)")
    else:
        print(f"No data available for number {number}")

In [19]:
   
following_numbers = record_following_numbers(list_A)
print_following_numbers(following_numbers)

Number 25 is followed by:
  Number 8: 2 times
  Number 14: 1 times
  Number 36: 1 times
  Number 3: 1 times
  Number 23: 1 times
  Number 21: 2 times
  Number 13: 2 times
  Number 34: 1 times

Number 8 is followed by:
  Number 34: 2 times
  Number 6: 1 times
  Number 19: 1 times
  Number 31: 1 times
  Number 20: 1 times
  Number 2: 1 times
  Number 7: 1 times

Number 34 is followed by:
  Number 28: 1 times
  Number 33: 2 times
  Number 14: 1 times
  Number 27: 1 times
  Number 6: 2 times
  Number 34: 1 times
  Number 29: 1 times
  Number 16: 1 times
  Number 5: 1 times
  Number 35: 1 times
  Number 22: 1 times
  Number 18: 1 times
  Number 0: 1 times
  Number 12: 1 times
  Number 11: 1 times

Number 28 is followed by:
  Number 26: 3 times
  Number 1: 1 times
  Number 21: 1 times
  Number 31: 1 times
  Number 28: 1 times
  Number 6: 1 times
  Number 18: 2 times
  Number 30: 1 times
  Number 27: 1 times
  Number 29: 1 times
  Number 7: 1 times
  Number 15: 1 times
  Number 34: 1 times

Number 26 is followed by:
  Number 31: 1 times
  Number 12: 1 times
  Number 24: 2 times
  Number 35: 1 times
  Number 20: 1 times
  Number 2: 1 times
  Number 26: 1 times
  Number 4: 1 times
  Number 5: 1 times
  Number 30: 1 times
  Number 28: 1 times

Number 31 is followed by:
  Number 32: 1 times
  Number 16: 1 times
  Number 24: 1 times
  Number 8: 1 times
  Number 23: 1 times
  Number 15: 1 times
  Number 34: 1 times
  Number 4: 1 times
  Number 0: 1 times
  Number 2: 1 times

Number 32 is followed by:
  Number 19: 1 times
  Number 12: 1 times
  Number 14: 1 times
  Number 15: 1 times
  Number 23: 2 times
  Number 10: 1 times
  Number 36: 1 times

Number 19 is followed by:
  Number 6: 1 times
  Number 36: 1 times
  Number 22: 1 times
  Number 19: 1 times
  Number 7: 5 times
  Number 15: 1 times
  Number 18: 1 times
  Number 12: 1 times
  Number 0: 1 times
  Number 2: 1 times
  Number 17: 1 times
  Number 16: 2 times
  Number 20: 1 times
  Number 33: 1 times

Number 6 is followed by:
  Number 28: 1 times
  Number 5: 2 times
  Number 31: 1 times
  Number 12: 2 times
  Number 7: 2 times
  Number 36: 1 times
  Number 8: 1 times
  Number 10: 1 times
  Number 3: 1 times
  Number 14: 1 times
  Number 19: 1 times
  Number 26: 1 times

Number 1 is followed by:
  Number 3: 1 times
  Number 28: 1 times
  Number 22: 2 times
  Number 16: 1 times
  Number 7: 1 times

Number 3 is followed by:
  Number 29: 1 times
  Number 19: 1 times
  Number 17: 1 times
  Number 2: 1 times
  Number 35: 1 times
  Number 36: 1 times
  Number 11: 1 times
  Number 16: 1 times
  Number 26: 1 times
  Number 9: 1 times
  Number 5: 1 times
  Number 34: 1 times
  Number 30: 1 times
  Number 32: 1 times
  Number 4: 1 times
  Number 23: 1 times

Number 29 is followed by:
  Number 24: 2 times
  Number 12: 1 times
  Number 20: 1 times
  Number 1: 1 times
  Number 13: 2 times
  Number 16: 1 times
  Number 32: 1 times
  Number 34: 1 times
  Number 28: 1 times
  Number 9: 1 times
  Number 3: 1 times
  Number 27: 1 times

Number 24 is followed by:
  Number 15: 1 times
  Number 35: 1 times
  Number 5: 1 times
  Number 22: 1 times
  Number 31: 1 times
  Number 36: 1 times
  Number 11: 1 times
  Number 21: 1 times
  Number 16: 2 times
  Number 27: 1 times
  Number 4: 1 times
  Number 23: 1 times

Number 15 is followed by:
  Number 19: 1 times
  Number 22: 1 times
  Number 25: 1 times
  Number 11: 1 times
  Number 5: 1 times
  Number 7: 1 times
  Number 18: 1 times
  Number 23: 2 times
  Number 28: 2 times
  Number 10: 1 times
  Number 15: 1 times
  Number 3: 1 times
  Number 31: 1 times
  Number 2: 1 times
  Number 27: 1 times
  Number 30: 1 times

Number 36 is followed by:
  Number 25: 2 times
  Number 19: 1 times
  Number 21: 1 times
  Number 13: 1 times
  Number 31: 1 times
  Number 33: 2 times
  Number 24: 1 times
  Number 15: 1 times
  Number 22: 1 times
  Number 32: 1 times
  Number 5: 1 times
  Number 7: 1 times

Number 14 is followed by:
  Number 12: 1 times
  Number 24: 2 times
  Number 15: 1 times
  Number 34: 1 times
  Number 9: 2 times
  Number 10: 1 times
  Number 14: 1 times
  Number 1: 1 times
  Number 5: 1 times
  Number 36: 1 times
  Number 17: 1 times

Number 12 is followed by:
  Number 29: 1 times
  Number 17: 1 times
  Number 32: 1 times
  Number 28: 1 times
  Number 16: 1 times
  Number 14: 1 times
  Number 21: 1 times
  Number 2: 1 times
  Number 1: 1 times
  Number 25: 1 times
  Number 4: 1 times

Number 35 is followed by:
  Number 17: 1 times
  Number 5: 2 times
  Number 7: 1 times
  Number 23: 1 times
  Number 30: 1 times
  Number 8: 2 times
  Number 0: 1 times
  Number 9: 1 times
  Number 34: 1 times
  Number 29: 1 times
  Number 14: 1 times
  Number 3: 1 times

Number 17 is followed by:
  Number 13: 1 times
  Number 0: 1 times
  Number 29: 1 times
  Number 5: 1 times
  Number 32: 1 times
  Number 6: 2 times
  Number 3: 1 times
  Number 33: 1 times
  Number 7: 1 times
  Number 22: 1 times
  Number 26: 1 times
  Number 27: 1 times
  Number 28: 1 times

Number 13 is followed by:
  Number 27: 1 times
  Number 26: 1 times
  Number 29: 2 times
  Number 21: 1 times
  Number 23: 1 times
  Number 24: 1 times
  Number 3: 1 times
  Number 34: 1 times
  Number 20: 3 times
  Number 13: 1 times
  Number 14: 1 times
  Number 30: 1 times
  Number 5: 1 times

Number 27 is followed by:
  Number 25: 1 times
  Number 16: 1 times
  Number 20: 1 times
  Number 8: 1 times
  Number 9: 1 times
  Number 17: 3 times
  Number 31: 1 times
  Number 3: 1 times
  Number 5: 1 times
  Number 13: 1 times
  Number 35: 1 times
  Number 27: 1 times
  Number 11: 1 times

Number 22 is followed by:
  Number 22: 1 times
  Number 29: 1 times
  Number 13: 1 times
  Number 11: 1 times
  Number 26: 1 times
  Number 0: 2 times
  Number 14: 1 times
  Number 19: 1 times
  Number 3: 1 times
  Number 36: 2 times
  Number 15: 1 times
  Number 24: 1 times
  Number 7: 1 times
  Number 17: 1 times

Number 0 is followed by:
  Number 2: 2 times
  Number 11: 2 times
  Number 5: 1 times
  Number 21: 1 times
  Number 32: 1 times
  Number 25: 1 times
  Number 12: 1 times
  Number 14: 1 times
  Number 17: 1 times

Number 2 is followed by:
  Number 2: 1 times
  Number 35: 1 times
  Number 23: 1 times
  Number 6: 2 times
  Number 17: 1 times
  Number 4: 1 times
  Number 15: 2 times
  Number 10: 2 times
  Number 33: 1 times
  Number 18: 1 times
  Number 29: 1 times

Number 5 is followed by:
  Number 1: 1 times
  Number 28: 1 times
  Number 25: 2 times
  Number 0: 2 times
  Number 24: 1 times
  Number 33: 1 times
  Number 30: 1 times
  Number 13: 1 times
  Number 23: 1 times
  Number 18: 1 times
  Number 19: 1 times
  Number 12: 1 times
  Number 32: 1 times
  Number 3: 2 times
  Number 11: 1 times
  Number 9: 1 times
  Number 20: 1 times
  Number 15: 1 times
  Number 10: 1 times

Number 21 is followed by:
  Number 6: 1 times
  Number 3: 1 times
  Number 10: 1 times
  Number 27: 1 times
  Number 36: 1 times
  Number 11: 1 times
  Number 17: 1 times
  Number 21: 1 times
  Number 5: 2 times
  Number 13: 1 times
  Number 33: 1 times
  Number 28: 1 times
  Number 2: 1 times

Number 16 is followed by:
  Number 19: 1 times
  Number 28: 3 times
  Number 18: 1 times
  Number 7: 1 times
  Number 15: 1 times
  Number 6: 1 times
  Number 10: 2 times
  Number 2: 1 times
  Number 30: 1 times
  Number 25: 1 times
  Number 26: 1 times

Number 7 is followed by:
  Number 10: 1 times
  Number 35: 2 times
  Number 27: 2 times
  Number 15: 1 times
  Number 21: 1 times
  Number 22: 1 times
  Number 24: 1 times
  Number 2: 1 times
  Number 23: 2 times
  Number 36: 1 times
  Number 17: 1 times
  Number 13: 1 times
  Number 26: 1 times
  Number 20: 1 times
  Number 3: 1 times

Number 10 is followed by:
  Number 35: 2 times
  Number 6: 1 times
  Number 19: 2 times
  Number 15: 1 times
  Number 1: 1 times
  Number 34: 1 times
  Number 29: 2 times
  Number 14: 1 times
  Number 36: 1 times
  Number 22: 1 times
  Number 20: 1 times
  Number 21: 1 times

Number 23 is followed by:
  Number 15: 1 times
  Number 21: 1 times
  Number 18: 1 times
  Number 19: 2 times
  Number 36: 1 times
  Number 26: 1 times
  Number 13: 1 times
  Number 22: 2 times
  Number 11: 2 times
  Number 14: 1 times
  Number 16: 1 times
  Number 20: 1 times
  Number 6: 1 times

Number 30 is followed by:
  Number 28: 1 times
  Number 11: 1 times
  Number 21: 1 times
  Number 20: 1 times
  Number 24: 1 times
  Number 23: 1 times
  Number 13: 1 times
  Number 7: 1 times

Number 11 is followed by:
  Number 2: 1 times
  Number 5: 1 times
  Number 27: 1 times
  Number 20: 1 times
  Number 11: 2 times
  Number 31: 2 times
  Number 4: 1 times
  Number 23: 1 times
  Number 8: 1 times
  Number 35: 1 times
  Number 6: 1 times
  Number 9: 1 times
  Number 22: 1 times
  Number 21: 1 times

Number 20 is followed by:
  Number 36: 1 times
  Number 29: 1 times
  Number 17: 1 times
  Number 6: 1 times
  Number 20: 1 times
  Number 22: 1 times
  Number 14: 1 times
  Number 13: 1 times
  Number 10: 1 times
  Number 34: 1 times
  Number 5: 2 times
  Number 16: 1 times
  Number 4: 2 times
  Number 0: 1 times

Number 18 is followed by:
  Number 15: 1 times
  Number 19: 3 times
  Number 22: 1 times
  Number 0: 1 times
  Number 7: 1 times
  Number 34: 1 times
  Number 27: 2 times

Number 33 is followed by:
  Number 25: 1 times
  Number 35: 1 times
  Number 3: 1 times
  Number 20: 1 times
  Number 10: 1 times
  Number 15: 1 times
  Number 18: 1 times
  Number 16: 1 times
  Number 34: 1 times

Number 9 is followed by:
  Number 19: 1 times
  Number 34: 2 times
  Number 35: 1 times
  Number 13: 1 times
  Number 5: 1 times
  Number 27: 1 times
  Number 12: 1 times

Number 4 is followed by:
  Number 19: 1 times
  Number 3: 1 times
  Number 29: 1 times
  Number 11: 1 times
  Number 4: 1 times
  Number 17: 1 times
  Number 5: 1 times
  Number 10: 2 times
  Number 35: 1 times

In [97]:
query_following_numbers(following_numbers, 2)

Number 2 is followed by:
  Number 2: 1 times
  Number 35: 1 times
  Number 23: 2 times
  Number 6: 4 times
  Number 17: 1 times
  Number 4: 1 times
  Number 15: 2 times
  Number 10: 2 times
  Number 33: 1 times
  Number 18: 3 times
  Number 29: 1 times
  Number 27: 2 times
  Number 14: 2 times
  Number 21: 2 times
  Number 9: 1 times
  Number 31: 1 times
  Number 12: 1 times

Total different numbers that followed 2: 17
Number that followed 2 the most: 6 (4 times)

In [29]:
list_B = [24,18,34,34,12,3,32,28,20,17,0,9,22,17,30,34,9,2,27,23,21,9,12,9,28,10,22,34,11,19,30,9,23,28,18,29,17,13,22,28,22,16,32,0,34,6,4,10,31,3,19,
          33,20,16,23,31,11,33,35,8,14,18,6,0,3,24,6,14,24,18,27,25,1,4,14,16,22,34,31,35,33,30,29,8,30,0,35,22,8,27,4,17,15,31,14,1,29,9,13,3,18,9,21,3,33,
          20,9,17,28,2,18,15,23,14,15,21,17,23,6,10,26,18,9,6,30,34,21,29,4,19,32,13,9,26,7,13,5,12,15,12,3,35,31,31,25,19,20,21,12,12,32,13,36,5,21,9,22,20,
          21,12,15,20,25,33,18,12,0,29,20,8,28,32,34,28,36,18,12,0,29,20,8,28,32,34,28,36,18,30,0,34,25,5,21,2,14,11,3,29,29,16,30]

In [36]:
following_numbers_1 = record_following_numbers(list_B)

query_following_numbers(following_numbers_1,2)

Number 2 is followed by:
  Number 27: 1 times
  Number 18: 1 times
  Number 14: 1 times

In [37]:
# European roulette wheel order
wheel_order = [0, 32, 15, 19, 4, 21, 2, 25, 17, 34, 6, 27, 13, 36, 11, 30, 8, 23, 10, 5, 24, 16, 33, 1, 20, 14, 31, 9, 22, 18, 29, 7, 28, 12, 35, 3, 26]

In [92]:
def get_wheel_neighbors(number, wheel_order):
    if number in wheel_order:
        index = wheel_order.index(number)
        left_neighbor = wheel_order[(index - 1) % len(wheel_order)]
        right_neighbor = wheel_order[(index + 1) % len(wheel_order)]
        return left_neighbor, right_neighbor
    else:
        return None, None

In [39]:
get_wheel_neighbors(0,wheel_order)

(26, 32)

In [98]:
list_C = [10,18,33,1,15,27,8,33,27,22,7,21,34,20,14,10,0,13,21,2,6,0,20,2,21,14,9,12,13,21,2,6,0,20,2,21,14,9,12,13,
          26,35,13,13,17,30,29,31,10,33,11,31,29,23,24,18,34,34,12,3,32,28,20,17,0,9,22,17,30,34,9,2,27,23,21,9,12,9,
          28,10,22,34,11,19,30,9,23,28,18,29,17,13,22,28,22,16,32,0,34,6,4,10,31,3,19,33,20,16,23,31,11,33,35,8,14,
          18,6,0,3,24,6,14,24,18,27,25,1,4,14,16,22,34,31,35,33,30,29,8,30,0,35,22,8,27,4,17,15,31,14,1,29,9,13,3,
          18,9,21,3,33,20,9,17,28,2,18,15,23,14,15,21,17,23,6,10,26,18,9,6,30,34,21,29,4,19,32,13,9,26,7,13,5,12,15,
          12,3,35,31,31,25,19,20,21,12,12,32,13,36,5,21,9,22,20,21,12,15,20,25,33,18,12,0,29,20,8,28,32,34,28,36,18,30,
          0,34,25,5,21,2,14,11,3,29,29,16,30,28,10,19,12,36,13,4,28,34,21,32,21,26,12,28,12,15,2,9,9,29,29,0,24,17,6,
          15,3,5,9,23,14,32,13,24,25,23,28,27,15,6,32,2,31,21,9,10,32,6,25,4,18,12,11,5,26,35,12,6,17,33,15,35,35,23,
          19,27,12,8,23,8,35,10,8,17,18,17,16,19,31,19,8,9,30,15,21,18,8,24,21,18,12,35,8,3,6,14,13,31,33,14,4,1,31,29,
          17,29,13,30,23,20,28,13,4,25,19,15,7,8,17,35,27,3,32,17,22,6,9,8,5,11,31,18,19,5,29,0,18,5,6,1,26,20,28,18,3,
          1,16,36,7,3,28,17,12,9,3,13,6,12,16,15,19,33,20,1,32,2,12,15,26,18,30,0,14,18,22,35,7,14,3,4,26,17,22,24,13,18,
          8,34,27,15,18,31,29,30,9,4,34,11,2,23,8,26,25,13,24,22,21,34,18,11,35,6,31,24,14]

In [48]:
len(list_C)

460

In [56]:
len(list_A)

498

In [49]:
len(list_B)

201

In [57]:
list_A[0:5]

[25, 8, 34, 28, 26]

In [59]:
following_numbers_2 =record_following_numbers(list_C)
query_following_numbers(following_numbers_2, 0)

Number 0 is followed by:
  Number 13: 1 times
  Number 20: 2 times
  Number 9: 1 times
  Number 34: 2 times
  Number 3: 1 times
  Number 35: 1 times
  Number 29: 1 times
  Number 24: 1 times
  Number 18: 1 times
  Number 14: 1 times

TypeError: list expected at most 1 argument, got 3

In [61]:
def join_lists(*lists):
    result = []
    for lst in lists:
        result.extend(lst)
    return result


combined_list = join_lists(list_A, list_B, list_C)
print(combined_list)  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[25, 8, 34, 28, 26, 31, 32, 19, 6, 28, 1, 3, 29, 24, 15, 19, 36, 25, 14, 12, 29, 24, 35, 17, 13, 27, 25, 36, 19, 22, 22, 29, 12, 17, 0, 2, 2, 35, 5, 1, 28, 21, 6, 5, 28, 31, 16, 19, 19, 7, 10, 35, 7, 35, 23, 15, 22, 13, 26, 12, 32, 12, 28, 26, 24, 5, 25, 3, 19, 7, 35, 30, 28, 28, 6, 31, 24, 22, 11, 2, 23, 21, 3, 17, 29, 20, 36, 21, 10, 6, 12, 16, 28, 18, 15, 25, 23, 18, 19, 7, 27, 16, 18, 22, 26, 35, 8, 6, 7, 15, 11, 5, 0, 11, 27, 20, 29, 1, 22, 0, 5, 24, 31, 8, 19, 7, 21, 27, 8, 34, 33, 25, 21, 36, 13, 29, 13, 21, 11, 20, 17, 5, 25, 13, 23, 19, 15, 5, 33, 35, 0, 2, 6, 7, 27, 9, 19, 18, 0, 21, 17, 32, 14, 24, 36, 31, 23, 36, 33, 3, 2, 17, 6, 36, 24, 11, 11, 31, 15, 7, 22, 0, 32, 15, 18, 19, 12, 14, 15, 23, 26, 20, 6, 8, 31, 34, 14, 34, 27, 17, 3, 35, 9, 34, 6, 10, 19, 0, 25, 13, 24, 21, 21, 5, 30, 11, 4, 19, 2, 4, 3, 36, 15, 28, 30, 21, 13, 3, 11, 23, 13, 34, 34, 29, 16, 7, 24, 16, 15, 10, 15, 15, 3, 16, 28, 27, 17, 6, 3, 26, 2, 15, 28, 29, 32, 23, 22, 14, 9, 35, 8, 20, 20, 22, 19, 7, 2, 6, 5, 13, 20, 14, 10, 1, 16, 6, 14, 14, 1, 22, 3, 9, 13, 29, 13, 13, 14, 5, 0, 12, 21, 33, 20, 13, 20, 10, 34, 16, 10, 29, 34, 5, 23, 11, 11, 8, 2, 10, 14, 24, 27, 31, 4, 29, 28, 18, 7, 23, 14, 36, 33, 10, 36, 22, 36, 32, 10, 35, 5, 18, 19, 17, 33, 15, 31, 0, 14, 9, 34, 33, 18, 34, 35, 34, 22, 15, 2, 33, 16, 2, 10, 22, 24, 16, 10, 29, 9, 5, 19, 16, 30, 20, 34, 18, 27, 3, 5, 12, 2, 18, 27, 5, 32, 23, 22, 7, 36, 5, 3, 34, 0, 11, 35, 29, 3, 30, 24, 4, 11, 6, 19, 20, 5, 11, 31, 2, 15, 23, 16, 28, 7, 17, 7, 13, 20, 16, 25, 21, 28, 26, 26, 4, 4, 17, 22, 17, 26, 5, 9, 27, 13, 30, 23, 19, 16, 26, 30, 13, 5, 20, 4, 5, 3, 32, 36, 25, 8, 7, 23, 20, 5, 15, 27, 35, 14, 17, 27, 27, 11, 9, 12, 1, 7, 26, 28, 15, 30, 7, 20, 0, 17, 28, 34, 6, 12, 25, 34, 12, 4, 10, 19, 33, 34, 11, 22, 36, 7, 3, 4, 10, 20, 4, 35, 3, 23, 6, 26, 24, 23, 11, 21, 5, 10, 21, 2, 29, 27, 17, 24, 18, 34, 34, 12, 3, 32, 28, 20, 17, 0, 9, 22, 17, 30, 34, 9, 2, 27, 23, 21, 9, 12, 9, 28, 10, 22, 34, 11, 19, 30, 9, 23, 28, 18, 29, 17, 13, 22, 28, 22, 16, 32, 0, 34, 6, 4, 10, 31, 3, 19, 33, 20, 16, 23, 31, 11, 33, 35, 8, 14, 18, 6, 0, 3, 24, 6, 14, 24, 18, 27, 25, 1, 4, 14, 16, 22, 34, 31, 35, 33, 30, 29, 8, 30, 0, 35, 22, 8, 27, 4, 17, 15, 31, 14, 1, 29, 9, 13, 3, 18, 9, 21, 3, 33, 20, 9, 17, 28, 2, 18, 15, 23, 14, 15, 21, 17, 23, 6, 10, 26, 18, 9, 6, 30, 34, 21, 29, 4, 19, 32, 13, 9, 26, 7, 13, 5, 12, 15, 12, 3, 35, 31, 31, 25, 19, 20, 21, 12, 12, 32, 13, 36, 5, 21, 9, 22, 20, 21, 12, 15, 20, 25, 33, 18, 12, 0, 29, 20, 8, 28, 32, 34, 28, 36, 18, 12, 0, 29, 20, 8, 28, 32, 34, 28, 36, 18, 30, 0, 34, 25, 5, 21, 2, 14, 11, 3, 29, 29, 16, 30, 10, 18, 33, 1, 15, 27, 8, 33, 27, 22, 7, 21, 34, 20, 14, 10, 0, 13, 21, 2, 6, 0, 20, 2, 21, 14, 9, 12, 13, 21, 2, 6, 0, 20, 2, 21, 14, 9, 12, 13, 26, 35, 13, 13, 17, 30, 29, 31, 10, 33, 11, 31, 29, 23, 24, 18, 34, 34, 12, 3, 32, 28, 20, 17, 0, 9, 22, 17, 30, 34, 9, 2, 27, 23, 21, 9, 12, 9, 28, 10, 22, 34, 11, 19, 30, 9, 23, 28, 18, 29, 17, 13, 22, 28, 22, 16, 32, 0, 34, 6, 4, 10, 31, 3, 19, 33, 20, 16, 23, 31, 11, 33, 35, 8, 14, 18, 6, 0, 3, 24, 6, 14, 24, 18, 27, 25, 1, 4, 14, 16, 22, 34, 31, 35, 33, 30, 29, 8, 30, 0, 35, 22, 8, 27, 4, 17, 15, 31, 14, 1, 29, 9, 13, 3, 18, 9, 21, 3, 33, 20, 9, 17, 28, 2, 18, 15, 23, 14, 15, 21, 17, 23, 6, 10, 26, 18, 9, 6, 30, 34, 21, 29, 4, 19, 32, 13, 9, 26, 7, 13, 5, 12, 15, 12, 3, 35, 31, 31, 25, 19, 20, 21, 12, 12, 32, 13, 36, 5, 21, 9, 22, 20, 21, 12, 15, 20, 25, 33, 18, 12, 0, 29, 20, 8, 28, 32, 34, 28, 36, 18, 30, 0, 34, 25, 5, 21, 2, 14, 11, 3, 29, 29, 16, 30, 28, 10, 19, 12, 36, 13, 4, 28, 34, 21, 32, 21, 26, 12, 28, 12, 15, 2, 9, 9, 29, 29, 0, 24, 17, 6, 15, 3, 5, 9, 23, 14, 32, 13, 24, 25, 23, 28, 27, 15, 6, 32, 2, 31, 21, 9, 10, 32, 6, 25, 4, 18, 12, 11, 5, 26, 35, 12, 6, 17, 33, 15, 35, 35, 23, 19, 27, 12, 8, 23, 8, 35, 10, 8, 17, 18, 17, 16, 19, 31, 19, 8, 9, 30, 15, 21, 18, 8, 24, 21, 18, 12, 35, 8, 3, 6, 14, 13, 31, 33, 14, 4, 1, 31, 29, 17, 29, 13, 30, 23, 20, 28, 13, 4, 25, 19, 15, 7, 8, 17, 35, 27, 3, 32, 17, 22, 6, 9, 8, 5, 11, 31, 18, 19, 5, 29, 0, 18, 5, 6, 1, 26, 20, 28, 18, 3, 1, 16, 36, 7, 3, 28, 17, 12, 9, 3, 13, 6, 12, 16, 15, 19, 33, 20, 1, 32, 2, 12, 15, 26, 18, 30, 0, 14, 18, 22, 35, 7, 14, 3, 4, 26, 17, 22, 24, 13, 18, 8, 34, 27, 15, 18, 31, 29, 30, 9, 4, 34, 11, 2, 23, 8, 26, 25, 13, 24, 22, 21, 34, 18, 11, 35, 6, 31, 24, 14]

In [99]:
len(combined_list)

1159

In [100]:
main1 = record_following_numbers(combined_list)
query_following_numbers(main1, 9)

Number 9 is followed by:
  Number 19: 1 times
  Number 34: 2 times
  Number 35: 1 times
  Number 13: 3 times
  Number 5: 1 times
  Number 27: 1 times
  Number 12: 5 times
  Number 22: 4 times
  Number 2: 2 times
  Number 28: 2 times
  Number 23: 3 times
  Number 21: 2 times
  Number 17: 2 times
  Number 6: 2 times
  Number 26: 2 times
  Number 9: 1 times
  Number 29: 1 times
  Number 10: 1 times
  Number 30: 1 times
  Number 8: 1 times
  Number 3: 1 times
  Number 4: 1 times

Total different numbers that followed 9: 22
Number that followed 9 the most: 12 (5 times)

In [184]:
query_following_numbers(main1,27)

Number 27 is followed by (sorted by frequency):
  Number 3: 2 times
  Number 4: 2 times
  Number 5: 1 times
  Number 8: 2 times
  Number 9: 1 times
  Number 11: 1 times
  Number 12: 1 times
  Number 13: 1 times
  Number 15: 2 times
  Number 16: 1 times
  Number 17: 3 times
  Number 20: 1 times
  Number 22: 1 times
  Number 23: 2 times
  Number 25: 3 times
  Number 27: 1 times
  Number 31: 1 times
  Number 35: 1 times

Total different numbers that followed 27: 18
Number that followed 27 the most: 25 (3 times)